---
import PageLayout from '@components/astro/PageLayout.astro';
import Button from '@components/svelte/Button.svelte';
import { SITE } from '@config/site';
import type { Locale } from '@type/locale';

interface Props {
    code: number;
    title: string;
    description: string;
    homeButtonText: string;
    homeLink?: string;
    locale: Locale;
    requestId?: string;
}

const { code, title, description, homeButtonText, homeLink = '/', locale, requestId } = Astro.props as Props;
---

<PageLayout
    title={`${code} - ${title} | ${SITE.NAME}`}
    description={description}
    permalink={`${Astro.url.origin}/${code}`}
    locale={locale}
    noindex
>
    <div class="error-page">
        <h1>
            <span class="code">{code}</span>
            <span class="description">{description}</span>
        </h1>

        {
            requestId && (
                <p id="request-id">
                    Request ID: <em>{requestId}</em>
                </p>
            )
        }
        <Button client:load href={homeLink}>{homeButtonText}</Button>
    </div>
</PageLayout>

<style>
    @reference "../../styles/global.css";

    .error-page {
        @apply container mx-auto flex flex-col items-start justify-start;
        @apply px-4 py-10;
        @apply select-none;
        @apply md:max-w-screen-md md:py-[70px];
        @apply lg:max-w-[928px];

        & h1 span {
            @apply block;

            &.code {
                @apply text-rose-800 dark:text-rose-500;
            }
        }

        & p#request-id {
            @apply meta -ml-px mb-[18px] mt-[17px];
            @apply text-text-muted;
            @apply sm:mb-7 sm:mt-[26px];
            @apply md:mb-[34px] md:mt-8;

            & em {
                @apply select-text not-italic;
            }
        }
    }
</style>
