---
import PageLayout from '@components/astro/PageLayout.astro';
import Button from '@components/svelte/Button.svelte';
import { SITE } from '@config/site';
import type { Locale } from '@type/locale';

interface Props {
    code: number;
    title: string;
    description: string;
    homeButtonText: string;
    homeLink?: string;
    locale: Locale;
    requestId?: string;
}

const { code, title, description, homeButtonText, homeLink = '/', locale, requestId } = Astro.props as Props;
---

<PageLayout
    title={`${code} - ${title} | ${SITE.NAME}`}
    description={description}
    permalink={`${Astro.url.origin}/${code}`}
    locale={locale}
>
    <div
        class="container mx-auto flex select-none flex-col items-start justify-start px-[16px] py-[20px] sm:py-[30px] md:max-w-screen-md md:py-[35px] lg:max-w-[928px]"
    >
        <h1
            class="-ml-[1.5px] mb-[5px] block w-full text-[36px] leading-[28px] sm:text-[40px] sm:leading-[31px] md:-ml-[4px] md:mb-[9px] md:text-[73px] md:leading-[56px] md:tracking-tight"
        >
            {code}
            <span class="block text-balance">{description}</span>
        </h1>

        {
            requestId && (
                <p
                    class="meta -ml-px mb-[18px] mt-[12px] text-text-muted sm:mb-[28px] sm:mt-[21px] md:mb-[34px] md:mt-[23px]"
                    id="request-id"
                >
                    Request ID: <em class="select-text not-italic">{requestId}</em>
                </p>
            )
        }
        <Button client:load href={homeLink}>{homeButtonText}</Button>
    </div>
</PageLayout>
