---
import PageLayout from '@components/astro/PageLayout.astro';
import Button from '@components/svelte/Button.svelte';
import { SITE } from '@config/site';
import type { Locale } from '@type/locale';

interface Props {
    code: number;
    title: string;
    description: string;
    homeButtonText: string;
    homeLink?: string;
    locale: Locale;
}

const { code, title, description, homeButtonText, homeLink = '/', locale } = Astro.props as Props;
---

<PageLayout
    title={`${code} - ${title} | ${SITE.NAME}`}
    description={description}
    permalink={`${Astro.url.origin}/${code}`}
    locale={locale}
>
    <div
        class="container mx-auto flex select-none flex-col items-start justify-start px-4 py-[9px] md:max-w-screen-md md:py-[22px] lg:max-w-[928px]"
    >
        <h1
            class="-ml-[3px] mb-[6px] block w-full text-5xl font-light leading-[48px] tracking-tight md:-ml-[4px] md:mb-[9px] md:text-7xl md:leading-[72px]"
        >
            {code}.
            <span class="block text-balance">{description}</span>
        </h1>

        <Button client:load href={homeLink}>{homeButtonText}</Button>
    </div>
</PageLayout>
