---
import PageLayout from '@components/astro/PageLayout.astro';
import Button from '@components/svelte/Button.svelte';
import { SITE } from '@config/site';
import type { Locale } from '@type/locale';

interface Props {
    code: number;
    title: string;
    description: string;
    homeButtonText: string;
    homeLink?: string;
    locale: Locale;
    requestId?: string;
}

const { code, title, description, homeButtonText, homeLink = '/', locale, requestId } = Astro.props as Props;
---

<PageLayout
    title={`${code} - ${title} | ${SITE.NAME}`}
    description={description}
    permalink={`${Astro.url.origin}/${code}`}
    locale={locale}
>
    <div class="error-page">
        <h1>
            {code}
            <em>{description}</em>
        </h1>

        {
            requestId && (
                <p id="request-id">
                    Request ID: <em>{requestId}</em>
                </p>
            )
        }
        <Button client:load href={homeLink}>{homeButtonText}</Button>
    </div>
</PageLayout>

<style>
    @reference "../../styles/global.css";

    .error-page {
        @apply container mx-auto flex flex-col items-start justify-start;
        @apply px-4 py-5;
        @apply select-none;
        @apply sm:py-[30px];
        @apply md:max-w-screen-md md:py-[35px];
        @apply lg:max-w-[928px];

        & h1 {
            @apply block w-full;
            @apply -ml-[1.5px] mb-[5px];
            @apply text-[36px] leading-7;
            @apply sm:text-[40px] sm:leading-[31px];
            @apply md:leading-14 md:-ml-[2px] md:mb-[9px] md:text-[73px];

            & em {
                @apply block text-balance not-italic;
            }
        }

        & p#request-id {
            @apply meta -ml-px mb-[18px] mt-3;
            @apply text-text-muted;
            @apply sm:mb-7 sm:mt-[21px];
            @apply md:mb-[34px] md:mt-[23px];

            & em {
                @apply select-text not-italic;
            }
        }
    }
</style>
