---
import SocialLinks from '@components/astro/SocialLinks.astro';
import { getRoute } from '@config/routes';
import { DEFAULT_LOCALE } from '@i18n/config.ts';
import { getTranslation } from '@i18n/translations';
import type { Locale } from '@type/locale';

export interface Props {
    locale: Locale;
}

const { locale: localeProp } = Astro.props as Partial<Props>;
const locale: Locale = localeProp ?? DEFAULT_LOCALE;
const t = getTranslation(locale);
const currentYear = new Date().getFullYear();
---

<footer class="footer select-none bg-footer-bg text-footer-text">
    <div
        class="container mx-auto px-4 pb-[18px] pt-[16px] sm:max-w-[640px] sm:pb-[28px] sm:pt-[26px] md:max-w-[768px] md:pb-[34px] md:pt-[54px] lg:max-w-[928px]"
    >
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
            <div class="md:-my-6">
                <h3 class="-ml-px text-[22px] leading-[24px] text-lime-300 antialiased dark:text-lime-900">
                    {t.footer.brand}
                    <em class="font-light not-italic text-lime-500 dark:text-lime-700">{t.footer.product}</em>
                </h3>

                <p class="meta -ml-px text-balance">
                    {t.footer.description}
                </p>
            </div>

            <nav aria-label={t.footer.footerNavAria} class="meta -ml-px">
                <ul class="flex flex-col md:flex-wrap">
                    <li>
                        <a href={getRoute('home', locale)}>
                            {t.nav.home}
                        </a>
                    </li>

                    <li>
                        <a href={getRoute('news', locale)}>
                            {t.nav.news}
                        </a>
                    </li>

                    <li>
                        <a href={getRoute('projects', locale)}>
                            {t.nav.projects}
                        </a>
                    </li>
                </ul>
            </nav>

            <nav aria-label={t.footer.socialLinksAria} class="meta">
                <h4 class="-ml-px mb-0.5">
                    {t.footer.followAmbilab}
                </h4>

                <SocialLinks {locale} />
            </nav>
        </div>

        <div class="meta -ml-px mt-[18px]">
            {t.footer.copyright} © {currentYear} Ambilab. {t.footer.allRightsReserved}.
        </div>
    </div>
</footer>

<style lang="postcss">
    .footer {
        padding-bottom: var(--cookie-banner-height, 0px);

        @media (min-width: 640px) {
            padding-bottom: var(--cookie-banner-height-sm, 0px);
        }

        @media (min-width: 768px) {
            padding-bottom: var(--cookie-banner-height-md, 0px);
        }
    }
</style>
