---
import MenuNav from '@components/astro/MenuNav.astro';
import LocaleSwitcher from '@components/svelte/LocaleSwitcher.svelte';
import MobileMenu from '@components/svelte/MobileMenu.svelte';
import ThemeSwitcher from '@components/svelte/ThemeSwitcher.svelte';
import { FEATURES } from '@config/features';
import { getRoute } from '@config/routes';
import { getTranslation } from '@i18n/translations';
import type { Locale } from '@type/locale';
import type { LocaleContent } from '@utils/content-loader';

export interface Props {
    locale: Locale;
    currentPath: string;
    translationPath?: string | undefined;
    pageMap?: LocaleContent['pageMap'] | undefined;
}

const { locale, currentPath, translationPath, pageMap } = Astro.props as Props;

const t = getTranslation(locale);
---

<header class="sticky top-0 z-header select-none antialiased">
    <div class="relative z-header-bar mx-auto border-b-2 border-border-default bg-page-bg px-4">
        <div
            class="mx-auto flex h-12 items-center justify-between pb-px sm:max-w-[608px] md:h-20 md:max-w-[736px] lg:max-w-[896px]"
        >
            <div class="flex items-center gap-8">
                <div class="shrink-0">
                    <a href={getRoute('home', locale)} class="block" aria-label={t.a11y.homeLinkLabel}>
                        <svg width="72" height="24" viewBox="0 0 72 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M72 0v24H0V0z" class="fill-text-primary"></path>
                            <path
                                d="M13.5 19.5h-3v-3H9v3H6v-12h1.5V6H9V4.5h4.5zm13.5 0h-3v-12h-1.5v12h-3v-12H18v12h-3v-12h1.5V6H18V4.5h9zm9-9h-1.5v3H36v3h-1.5V18H33v1.5h-4.5v-12H30V6h1.5V4.5H36zm4.5 9h-3v-15h3zm4.5-3h3v3h-6v-15h3zm12 3h-3v-3h-1.5v3h-3v-12H51V6h1.5V4.5H57zm9-9h-1.5v3H66v3h-1.5V18H63v1.5h-4.5v-12H60V6h1.5V4.5H66zm-34.5 6H33v-3h-1.5zm30 0H63v-3h-1.5zM9 13.5h1.5v-6H9zm43.5 0H54v-6h-1.5zm-21-3H33v-3h-1.5zm30 0H63v-3h-1.5z"
                                fill-rule="evenodd"
                                class="fill-page-bg"></path>
                        </svg>
                    </a>
                </div>

                <nav aria-label="Main navigation" class="hidden items-center md:flex">
                    <MenuNav locale={locale} currentPath={currentPath} mobile={false} pageMap={pageMap} />
                </nav>
            </div>

            <div class="hidden items-center md:flex">
                {
                    FEATURES.localeSwitcher && (
                        <LocaleSwitcher client:load currentLocale={locale} translationPath={translationPath} />
                    )
                }
                <ThemeSwitcher client:load locale={locale} />
            </div>

            <div class="md:hidden">
                <MobileMenu client:load locale={locale}>
                    <div class="flex flex-col items-center justify-start gap-3 border-b-2 px-4">
                        <div class="w-full text-left sm:max-w-[608px]">
                            <MenuNav locale={locale} currentPath={currentPath} mobile={true} pageMap={pageMap} />
                        </div>

                        <div class="flex w-full items-end justify-end pb-3 sm:max-w-[608px]">
                            {
                                FEATURES.localeSwitcher && (
                                    <LocaleSwitcher
                                        client:load
                                        currentLocale={locale}
                                        translationPath={translationPath}
                                    />
                                )
                            }
                            <ThemeSwitcher client:load locale={locale} />
                        </div>
                    </div>
                </MobileMenu>
            </div>
        </div>
    </div>
</header>
